*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

/* HEADER */
header{
    position: relative;
}
.img-encabezado{
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
}
.navbar{
    /* background-color: red; */
    position: absolute;
    width: 100%;
    height: 100px;
    max-width: 1370px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.linea__navbar-gris{
    position: relative;
    top: 2rem;
    border: 4px solid #7a7a7a;
    width: 25%;
}
.linea__navbar-verde{
    position: relative;
    top: 2rem;
    right: 0;
    border: 4px solid rgb(146, 208, 80);
    width: 25%;
}
.linea__navbar-azul{
    position: relative;
    top: 2rem;
    left: 0;
    border: 4px solid rgb(0, 176, 240);
    width: 25%;
}
.linea__navbar-amarrillo{
    position: relative;
    top: 2rem;
    left: 0;
    border: 4px solid rgb(255, 192, 0);
    width: 25%;
}
.logo__navbar--SNIEG{
    position: absolute;
    top: 0;
    left: 0;
    margin: .5rem;
    width: 27%;
}
.logo__navbar--EDOMEX{
    position: absolute;
    top: 0;
    right: 15rem;
    margin: .5rem;
    width: 4%;
}
.logo__navbar--INEGI{
    position: absolute;
    top: 0;
    right: 5px;
    margin: 1rem;
    width: 15%;
}
@media (max-width: 800px){
    
    .logo__navbar--EDOMEX{
        right: 11rem;
    }
    .logo__navbar--INEGI{
        margin-top: .5rem;
    }
    .linea__navbar{
        top: 5px;
    }

}

/* FIN HEADER */


/* Responsivo Telefonos Celular */
@media (max-width: 360px){
    .logo__navbar--SNIEG{
        top: 2px;
        width: 50%;
    }
    .logo__navbar--EDOMEX{
        top: 2px;
        right: 6.9rem;
        width: 8%;
    }
    .logo__navbar--INEGI{
        width: 25%;
        top: 10px;
        margin-top: .5rem;
    }
    .linea__navbar{
        top: 5px;
    }
    .linea__navbar-gris, .linea__navbar-azul,
    .linea__navbar-verde, .linea__navbar-amarrillo{
        top: 0.5rem;
    }

}
/* FIN Responsivo Telefonos Celular */

/* slider de imagenes*/
.container-slider{
    position: relative;
    top: 7rem;
    width: 100%;
    max-width: 1800px;
    margin: auto;
    overflow: hidden; /*para solo ver una imagen o ocultar el resto de imagenes que se salen de la pantalla*/
    box-shadow: 0 0 0 10px #fff,
                0 15px 50px;/*Sobra*/
}
.slider{
    display: flex;
    width: 700%;
    height: 400px;
    transition: all 5s ease;
}
.slider__section{
    width: 100%;
}
.slider__img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover; /*Para que las imagenes no se estiren o no se distorcicones independientemente de su tamaño*/
}
.slider__btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.slider__btn:hover{
    background-color: #fff;
}
.slider__btn--left{
    left: 10px;
}
.slider__btn--right{
    right: 10px;
}
/*FIN slider de imagenes*/

/* TITULO */
.titulo{
    position: relative;
    top: -3rem;
    left: -5px;
    display: flex;/*Para que nos de la flexibilidad de centrar*/
    flex-direction: column;/*Todos los elementos iran en direccion de columna*/
    /* border: 1px solid red; */
    background-color: rgb(0, 64, 67);
    opacity: 0.5;
    border-radius: 5px;
    width: 50%;
    height: 10rem;    
}
.titulo:hover{
    transition: all .50s ease;
    opacity: .9;
}
.titulo__complet{
    display: block;
    position: absolute;
    opacity: 1 !important;
    top: 5rem;
    left: 50px;
    display: block;
    color: #f2f7fa;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    /* font-weight: bold; */
}
.titulo__acronomo{
    position: absolute;
    left: 50px;
    top: 15px;
    color: #f2f7fa;
    font-weight: bold;
    font-size: 50px;
}

/* Resonsive titulo */
@media  (max-width: 1200px){
    .titulo__complet{
        font-size: 12px;
    }
    
}
@media  (max-width: 985px){
    .titulo__complet{
        font-size: 10px;
    }
    
}
@media  (max-width: 845px){
    .titulo__complet{
       display: none;
    }
    .titulo__acronomo{
        top: 60px;
        left: 25px;
        font-size: 30px;
    }
    
}
/* FIN TITULO */

/* Estilos de las opciones */

.nav{
    width: 95%;
    position: relative;
    top: -6.5rem;
}
.nav span{
    font-size: 25px;
}
.nav .menu{
    float: right;
    line-height: 50px;
    margin-right: 50px;
    cursor: pointer;
    display: none;
    color: #000;
}

.nav #check{
    float: right;
    display: none;
}
.nav .nav__ul{
    position: relative;
    left: 5rem;
    top: 7rem;
    margin-right: 20px;
}
.nav .nav__ul .nav__li{
    display: inline-block;
}


@keyframes docColores {
    0%{
        background-color: rgb(130, 168, 235);

    }
    25%{
        background-color: rgb(68, 114, 196);
        color: #fff;
    }
    
}
@keyframes actColores {
    0%{
        background-color: rgb(229, 237, 252);
    }
    25%{
        background-color: rgb(206, 223, 252);
    }
    35%{
        background-color: rgb(68, 114, 196);
        color: #fff;
    }
    
}
@keyframes infColores {
    0%{
        background-color: rgb(229, 237, 252);
    }
    25%{
        background-color: rgb(206, 223, 252);
    }
    35%{
        background-color: rgb(68, 114, 196);
    }
    45%{
        background-color: rgb(68, 114, 196);
        color: #f2f7fa;
    }
    
}
.nav__a--doc{
    margin-right: 30px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    border: 3px solid #7a7a7a;
    border-radius: 10px;
    padding: 10px;
    animation: docColores 10s linear infinite;
}
.nav__a--doc:hover{
    background-color: rgb(68, 114, 196);
    transition: .5s;
    color: #fff;
    transform: scale(1.5);
}
.nav__a--act{
    margin-right: 30px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    border: 3px solid #7a7a7a;
    border-radius: 10px;
    padding: 10px;
    /* animation: actColores 8s linear infinite; */
}
.nav__a--act:hover{
    background-color: rgb(68, 114, 196);
    transition: .5s;
    color: #fff;
}
.nav__a--inf{
    margin-right: 30px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    border: 3px solid #7a7a7a;
    border-radius: 10px;
    padding: 10px;
    /* animation: infColores 12s linear infinite; */
}
.nav__a--inf:hover{
    background-color: rgb(68, 114, 196);
    transition: .5s;
    color: #fff;
}
.nav__a--nor{
    margin-right: 30px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    border: 3px solid #7a7a7a;
    border-radius: 10px;
    padding: 10px;
    animation: infColores 15s linear infinite;
}
.nav__a--nor:hover{
    background-color: rgb(68, 114, 196);
    transition: .5s;
    color: #fff;
}
.nav__a--conv{
    margin-right: 30px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    border: 3px solid #7a7a7a;
    border-radius: 10px;
    padding: 10px;
    /* animation: infColores 18s linear infinite; */
}
.nav__a--conv:hover{
    background-color: rgb(68, 114, 196);
    transition: .5s;
    color: #fff;
}
.nav__a--dat{
    margin-right: 30px;
    text-decoration: none;
    color: #000;
    font-size: 17px;
    border: 3px solid #7a7a7a;
    border-radius: 10px;
    padding: 10px;
    animation: infColores 21s linear infinite;
}
.nav__a--dat:hover{
    background-color: rgb(68, 114, 196);
    transition: .5s;
    color: #fff;
}

.nav__li .nav__a.active, .nav__li .nav__a:hover{
    background-color: rgb(68, 114, 196);
    transition: .5s;
    color: #fff;
    transform: scale(1.15);

}


.nav__responsive{
    display: none;
}

.nav__responsive--close{
    display: none;
}

/*Responsivo de las opciones*/
@media (max-width : 1356px){
    .nav .nav__ul .nav__li .nav__a--doc, .nav__a--act, .nav__a--inf, .nav__a--nor, .nav__a--conv, .nav__a--dat{
        font-size: 15px;
    }
}
@media (max-width : 1250px){
    .nav .nav__ul .nav__li .nav__a--doc, .nav__a--act, .nav__a--inf, .nav__a--nor, .nav__a--conv, .nav__a--dat{
        font-size: 12px;
    }
}
@media (max-width : 1085px){
    .nav .nav__ul li .nav__a--doc, .nav__a--act, .nav__a--inf, .nav__a--nor, .nav__a--conv, .nav__a--dat{
        margin-right: 5px;
    }
}
@media (max-width: 950px){
    .nav .menu{
        display: block;
        position: relative;
        top: 5rem;
    }
    .nav__ul{
        display: none;
    }
    .nav__responsive{
        width: 35%;
        height: auto;
        border: 3px solid #7a7a7a;
        background-color: #fff;
        border-radius: 10px;
        align-items: center;
        text-align: center;
        position: absolute;
        right: 5rem;
        top: 34rem;
        padding-top: 25px;
        z-index: 100;
    }
    .nav__responsive--ul{
        display: flex;
        flex-direction: column;
        margin:10px;
        list-style: none;
    }
    .nav__responsive--a{
        text-decoration: none;
        color: black;
        font-size: 17px;
    }
    .nav__responsive--li{
        margin-bottom: 25px;
    }
    .nav__responsive--li:hover{
        background-color: #7a7a7a;
        border-radius: 2px;
    }
    .menu-close{
        color: #000;
        font-size: 15px;
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .menu-close:hover{
        color: #7a7a7a;
        font-size: 15px;
    }
    
}
/*FIN Responsivo de las opciones*/

/* contenido texto  */
/* Responsive contenido */
@media (max-width: 945px){
    .contenido label{
        font-size: 14px;
    }
}
@media (max-width: 865px){
    .contenido label{
        font-size: 13px;
    }
    .contenido h3{
        font-size: 18px;
    }
}
@media (max-width: 810px){
    .contenido label{
        font-size: 12px;
    }
    .contenido h3{
        font-size: 18px;
    }
}
@media (max-width: 750px){
    .contenido label{
        font-size: 11px;
    }
    .contenido h3{
        font-size: 15px;
    }
}
@media (max-width: 700px){
    .contenido .texto__inicio-2{
        top: 10rem;
    }
}
@media (max-width: 600px){
    .contenido .texto__inicio-2{
        top: 11rem;
    }
    .contenido .texto__inicio-titulo{
            top: 18rem;    
            left: 30%;
    }
    .contenido .texto__inicio-3{
        top: 19rem;
    }
    .contenido .texto__inicio-4{
        top: 27rem;
    }
}
@media (max-width: 500px){
    .contenido{
        height: 95%;
    }
    .contenido .texto__inicio-2{
        top: 12.5rem;
    }
    .contenido .texto__inicio-titulo{
            top: 20rem;    
            left: 30%;
    }
    .contenido .texto__inicio-3{
        top: 20rem;
    }
    .contenido .texto__inicio-4{
        top: 28rem;
    }
}
.contenido{
    border: 1px solid rgb(68, 114, 196);
    border-radius: 10px;
    position: absolute;
    top: 40rem;
    left: 6%;
    text-align: justify;
    width: 90%;
    height: 90%;
}
.contenido:hover{
    background-color: #f2f7fa;
    border-radius: 20px;
    transition: all .5s ease;
}
.texto__inicio{
    position: absolute;
    padding: 20px;
    font-size: 15px;
    line-height: 25px;
}
.texto__inicio-2{
    position: absolute;
    top: 8rem;
    padding: 20px;
    font-size: 15px;
    line-height: 25px;
}
.texto__inicio-titulo{
    position: absolute;
    top: 16rem;
    left: 40%;
}
.texto__inicio-3{
    position: absolute;
    top: 18rem;
    padding: 20px;
    font-size: 15px;
    line-height: 25px;
}
.texto__inicio-4{
    position: absolute;
    top: 25rem;
    padding: 20px;
    font-size: 15px;
    line-height: 25px;
}
.negritas{
    font-weight: bold;
}
/* FIN contenido texto  */

/* Footer */
footer{
    position: absolute;
    width: 100%;
    background-color: #3586ff;
    min-height: 100px;
    height: 300px;
    padding: 20px 50px;
    display: flex;
    margin-top: 50rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer_menu--redes{
    /* background-color: red; */
    font-size: 12px;
    position: absolute;
    top: 4rem;
    left: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 5rem;
}
.footer_menu--redes h2{
    position: relative;
    top: -1.5rem;
    color: #fff;
}
.footer_menu--redes a{
    color: #f2f7fa;
    transition: all 0.10s ease;
    opacity: 0.75;
    padding: 7px;
    margin: 5px;
    margin-top: 5px;
}
.footer_menu--redes a:hover{
    opacity: 1;

}
.logo_inegi{
    align-items: left;
    position: relative;
    /* left: 1rem;*/
    top: -0.5rem; 
    width: 100%;
    height: 70%;
}
/* Responsivo de footer redes */

@media (max-width: 825px){
    .footer_menu--redes{
        left: -5rem;
    }    
}
/*FIN Responsivo de footer redes */


/* .footer_menu--enlace{
    background-color: red;
    font-size: 12px;
    position: absolute;
    left: 20rem;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    text-align: center;
}
.footer_menu--enlace h2{
    color: #fff;
}
.footer_menu--enlace a{
    color: #f2f7fa;
    transition: all 0.10s ease;
    opacity: 0.75;
    padding: 7px;

}
.footer_menu--enlace a:hover{
    opacity: 1;

} */

.footer_menu--interes{
    /* background-color: red; */
    font-size: 12px;
    position: absolute;
    right: 15rem;
    top: 5rem;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    text-align: center;
}
.footer_menu--interes h2{
    color: #fff;
}
.footer_menu--interes a{
    margin-top: 6px;
    color: #f2f7fa;
    transition: all 0.10s ease;
    opacity: 0.75;
    padding: 4px;
    margin: 10px;
}
.footer_menu--interes a:hover{
    opacity: 1;

}
/* Diseño responsivo de interes  */
@media (max-width: 825px){
    .footer_menu--interes{
        right: 0rem;
    }
}
/* FIN Diseño responsivo de interes  */


footer .social__icon, .footer_menu{
    z-index: 100;
    position: absolute;
    top: 3rem;
    left: -0.5rem;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
}
/* .social__icon__interes{
    z-index: 100;
    position: absolute;
    top: 1.5rem;
    left: 8rem;
    justify-content: center;
    align-items: center;
    margin: 4px 0;
} */

/* Diseño responsivo de apartado redes */

@media (max-width: 950px){
    footer .social__icon{
        left: -2rem;

    }.footer_menu--redes{
        left: 5rem;
    }    
    .copy{
        right: -10rem;
    }
}
@media (max-width: 825px){
    footer .social__icon{
        left: -1rem;
    }  
    .footer_menu--redes{
        left: -2rem;
    }  
    .copy{
        right: -10rem;
        font-size: 10px;
    }  
}
/* FIN Diseño responsivo de apartado redes */


footer .social__icon li, footer .footer_menu li, .social__icon__interes{
    list-style: none;
}
footer .social__icon li .footer_a, .social__icon__interes .footer_a__interes{
    font-size: 10px;
    color: #fff;
    margin: 5px .5rem;
    border: .5px solid #fff;
    border-radius: 50%;
    padding: 8px;
    display: inline-block;
    transition: all 0.10s ease;
}
footer .social__icon li .footer_a:hover{
    transform: translateY(-5px);
}
footer .social__icon__interes li .footer_a__interes:hover{
    transform: translateY(-5px);
}
footer .footer_menu li .footer_a, .footer_a__interes{
    font-size: 1em;    
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}
footer .footer_menu li .footer_a:hover{
    opacity: 1;
}
footer p{
    position: relative;
    bottom: -8rem;
    right: 0rem;
    color:#fff;
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 15px;
}
footer .waves{
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    height: 100px;
    background:  url(../img/wave.png);
    background-size: 1000px 100px;
}
footer .waves#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}
footer .waves#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}
footer .waves#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}
footer .waves#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 10px;
    animation: animateWave_02 3s linear infinite;
}
@keyframes animateWave {
    0%{
        background-position-x: 1000px ;
    }
    100%{
        background-position-x: 0px;
    }
    
}
@keyframes animateWave_02 {
    0%{
        background-position-x: 0px ;
    }
    100%{
        background-position-x: 1000px;
    }
    
}

.depa{
    position: absolute;
    top: 15rem;
    font-size: 20px;
    color: #fff;
    transition: all .3s ease;
}
.depa:hover{
    color: #a5d9fa;
    transform: translateY(-15px);

}
/*  FIN Footer */
