<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-contactos.css">
    <link rel="stylesheet" href="../styleicon-pag.css">
    <title>Datos del contacto</title>
</head>
<body>
    <header>
        
        <div class="navbar">
            <img src="../img/Encabezado.png" alt="Encabezado" class="img-encabezado">
            <hr class=linea__navbar-gris>
            <hr class=linea__navbar-verde>
            <hr class=linea__navbar-azul>
            <hr class=linea__navbar-amarrillo>
            <img src="../img/LOGO-SNIEG-ENCABEZADO.png" alt="Logo SNIEG" class="logo__navbar--SNIEG">
            <img src="../img/Logo-EDOMEX.png" alt="Logo EDOMEX" class="logo__navbar--EDOMEX">
            <img src="../img/logo-inegi.png" alt="Logo INEGI" class="logo__navbar--INEGI">
        </div>
    </header>
    <a class="boton cinco" href="../index.html">
        <div class="icono">
            <span class="icon-undo2 svg"></span>
        </div>
        <span class="texto">Regresar</span>
    </a>
</body>
</html>